h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.flexiable-sec{
    display: flex;
}
.half-width{
    max-width: 50%;
    padding-left: 100px;
}
.half-width img{
    max-width: 90%;
}
.orange-color{
    color:orange;
}
.half-width p{
    font-size: 14px;
    color: #646464;
    padding-right : 200px;
    text-align: justify;
}
.hire-me-btn{
    background-image: linear-gradient(rgb(114, 63, 22),orange);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    margin-top:100px;
}
.download-resu{
    text-decoration: none;
    padding:10px 40px;
    background-image: linear-gradient(tomato,orange);
    margin-top :10px;
    display: inline-block;
    border-radius: 5px;
}
.experence {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 229px;
}
.ex {
    margin-left: 170px;
    padding-top: 40px;
}
.blue-border{
     box-shadow: 10px 10px 40px rgb(177, 176, 176);
     border-left: 10px solid blue;
     margin-left:60px;
     margin-top:40px;
     max-width: 40%;
     padding: 20px 40px;
       margin-left:5%

}
.orange-border{
     box-shadow: 10px 10px 30px rgb(192, 189, 189);
     border-left: 10px solid orangered;
     margin-left:60px;
     margin-top:40px;
     max-width: 40%;
     padding: 20px 40px;
     margin-right:5%

}